
<% provide(:title, "Log in") %>

<br>
<br>

<%= form_for(:session, url: login_path, :html => {class: "form-signin"}) do |f| %>

  <div class="text-center mb-4">
    <%= image_tag 'Logo.png', class: "rounded", :alt => "", :width => "198",:height => "43" %>
   <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
  </div>


  <div class="form-label-group">
    <%= f.email_field :email, :class=>'form-control', :type=>"email", :id=>"inputEmail", :placeholder=>"Email address" %>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, class: 'form-control',type: "password", id: "inputPassword", placeholder:"Password"%>
    <label for="inputPassword">Password</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  <br>
  <p>New here? <%= link_to "Sign up now!", signup_path %></p>
<% end %>


