
<div class="order-md-1">
  <%= form_for(@offer, html: { autocomplete: "off" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-6 mb-3">
          <%= f.label :label %>
          <%= f.text_field :label, placeholder: "Job title", class: "form-control"%>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.label :category_name %>
        <%= f.text_field :category_name, class: "form-control",placeholder: "Category", data: {autocomplete_source: pages_cat_search_path} %>

      </div>
    </div>

    <div class="mb-3">
      <label> Job description</label>
      <%= f.text_area :content, placeholder: "Add desctription about the job e.g. for how long, what to do, requirements..." , class: "form-control"%>
    </div>

    <hr class="mb-4">
    <div class="form-row align-items-center">
      <div class="col-md-6 mb-3">
        <label> Start of job</label>
        <div class="input-group date" id="datetimepicker_offer" data-target-input="nearest">
          <div class="input-group-prepend" id="date_icon_offer" data-target="#datetimepicker_offer" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
          <%= f.text_field :date, 'onkeydown' => 'return false', class: 'form-control datepicker-input', 'data-target' => '#datetimepicker_offer', placeholder: 'Date of job' %>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label> Wage for job</label>
        <div class="input-group">
          <div class="input-group-prepend" id="wage_icon_offer">
            <div class="input-group-text"><i class="fa fa-eur "></i></div>
          </div>
          <%= f.number_field :wage, placeholder: "Enter wage in €", class: "form-control"%>
        </div>
      </div>
    </div>

    <hr class="mb-4">

    <h5>Address</h5>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" >Country</label>
        <%= f.select :state_id, options_for_select(@states.map{ |c| [c.name, c.id] }), {}, { :class => 'custom-select mr-sm-2' }  %>
      </div>
      <div class="col-auto my-1">
        <label class="mr-sm-2" >State/Region</label>
        <%= f.collection_select :province_id, @provinces, :id, :name,{}, {class: 'custom-select mr-sm-2'} %>
      </div>
      <div class="col-auto my-1">
        <label class="mr-sm-2" >City</label>
        <%= f.collection_select :city_id, @cities, :id, :name, {}, {class: 'custom-select mr-sm-2'}%>
      </div>
    </div>


    <hr class="mb-4">
    <%= f.submit "Post", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
</div>

<script>
    $('#offer_state_id').change(function (){
        console.log("here");
        var state = $(this).val();
        console.log(state);
        $.ajax({
            url: "/offers/new",
            method: "GET",
            dataType: "json",
            data: {state: state},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var provinces = response.provinces;
                $("#offer_province_id").empty();
                $("#offer_city_id").empty();

                $("#offer_province_id").append('<option>Select Province</option>');
                provinces.forEach( function(province) {
                    $("#offer_province_id").append('<option value="' + province.id + '">' + province.name + '</option>');
                })
            }
        });
    });

    $('#offer_province_id').change(function (){
        console.log("province changed");
        var province = $(this).val();
        console.log(province);
        $.ajax({
            url: "/offers/new",
            method: "GET",
            dataType: "json",
            data: {province: province},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var cities = response.cities;
                $("#offer_city_id").empty();

                $("#offer_city_id").append('<option>Select City</option>');
                cities.forEach( function(city) {
                    $("#offer_city_id").append('<option value="' + city.id + '">' + city.name + '</option>');
                })
            }
        });
    });

    $(function () {
        $('#offer_date').click(function () {
            $('#date_icon_offer').trigger('click');
        });
        $('#datetimepicker_offer').datetimepicker({
            format: "DD-MM-YYYY"
        });
    });
</script>






