<%= form_for(@offer, id: "offer_form") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :label %>
    <%= f.text_field :label, placeholder: "Add title"%>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Add desctription to your affer" %>
  </div>
    <%= f.label :category_name %>
    <%= f.text_field :category_name, data: {autocomplete_source: Category.order(:name).map(&:name)} %>

  <div class="field">
    <br/>
    <%= f.label :state %>
    <%= f.select :state_id, options_for_select(@states.map{ |c| [c.name, c.id] }) %>



    <%= f.label :province %>
    <%= f.collection_select :province_id, @provinces, :id, :name, prompt_text: "Select province"%>

    <%= f.label :city %>
    <%= f.collection_select :city_id, @cities, :id, :name, prompt_text: "Select City"%>

    <div class="input-group date" id="datetimepicker_offer" data-target-input="nearest">
      <div class="input-group-prepend" id="date_icon_offer" data-target="#datetimepicker_offer" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
        <%= f.text_field :date, 'onkeydown' => 'return false', class: 'form-control datepicker-input', 'data-target' => '#datetimepicker_offer', placeholder: 'Date of job' %>
    </div>
  </div>

    <%= f.submit "Post", class: "btn btn-primary" %>

    <hr/>
    <hr/>
    <br/>
    <br/>

  </div>
<% end %>






<script>
  $('#offer_state_id').change(function (){
      console.log("here");
      var state = $(this).val();
      console.log(state);
      $.ajax({
          url: "/offers/new",
          method: "GET",
          dataType: "json",
          data: {state: state},
          error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
          },
          success: function (response) {
              console.log(response);
              var provinces = response.provinces;
              $("#offer_province_id").empty();
              $("#offer_city").empty();

              $("#offer_province_id").append('<option>Select Province</option>');
              provinces.forEach( function(province) {
                  $("#offer_province_id").append('<option value="' + province.id + '">' + province.name + '</option>');
              })
          }
      });
  });

  $('#offer_province_id').change(function (){
      console.log("province changed");
      var province = $(this).val();
      console.log(province);
      $.ajax({
          url: "/offers/new",
          method: "GET",
          dataType: "json",
          data: {province: province},
          error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
          },
          success: function (response) {
              console.log(response);
              var cities = response.cities;
              $("#offer_city_id").empty();

              $("#offer_city_id").append('<option>Select City</option>');
              cities.forEach( function(city) {
                  $("#offer_city_id").append('<option value="' + city.id + '">' + city.name + '</option>');
              })
          }
      });
  });

  $(function () {
      $('#offer_date').click(function () {
          $('#date_icon_offer').trigger('click');
      });
      $('#datetimepicker_offer').datetimepicker({
          format: "DD-MM-YYYY"
      });
  });


</script>