<% provide(:title, 'Homepage') %>

<div class="container-fluid">
  <div class="row content">

    <div class="col-sm-3 mt-3 sidenav ">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <div class="btn-group-vertical">
        <%= link_to "Create new offer", offers_new_path,class: "btn btn-outline-info mb-1", style: "border-color: #131c2d" %>
        <%= link_to "Show available offers",offers_search_path(search: "", date_start: "", date_end: ""), class: "btn btn-outline-info mb-1", style: "border-color: #131c2d" %>
        <%= link_to "Show all my offers",  offers_user_offers_path(),class: "btn btn-outline-info mb-1", style: "border-color: #131c2d" %>
        <%= link_to "Statistic view", statistics_main_path, class: "btn btn-outline-info mb-1", style: "border-color: #131c2d" %>
        <%= link_to "Logout",  logout_path,method: :delete, class: "btn btn-outline-info", style: "border-color: #131c2d" %>
      </div>
    </div>
    <% if @offers.present? %>
      <div class="col-sm-9 mt-3">
        <h4>Your recent job offers.</h4>
        <div class="album py-5 bg-light rounded ">
          <div class="container rounded">
            <% @offers.each_with_index do |offer, index | %>
              <% if index % 3 == 0 %>
                <div class="row">
              <% end %>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">

                  <h5 class="ml-3 mt-2"><%=offer.label %></h5>
                  <div class="card-body">
                    <p class="card-text"><%= offer.content.truncate(60) %></p>
                    <%= offer.date.strftime("%d-%m-%Y") %>
                    <h6><%= offer.wage %> €</h6>
                   <span><%= pluralize(offer.accepted_offers.count, "apply") %> for this job.</span>

                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <%= link_to "View", offer, class: "btn btn-sm btn-outline-secondary", style: "background-color: #131c2d" %>
                        <% if offer.active == false %>
                          <%= link_to "Enable",offers_disable_path(offer: offer), class: "btn btn-sm btn-outline-secondary", style: "background-color: #131c2d" %>
                        <% else %>
                          <%= link_to "Disable",offers_disable_path(offer: offer), class: "btn btn-sm btn-outline-secondary", style: "background-color: #131c2d" %>
                        <% end %>
                      </div>
                      <small class="text-muted"><%if offer.active == true %> Active <% else %> Inactive <% end %></small>
                    </div>
                  </div>
                </div>
              </div>

              <% if index % 3 == 2 %>
                </div>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="alert alert-dark mt-4" role="alert">
        <h3>You have no offers yet.</h3>
        <div class="col p-2 button-group">
          <%= link_to "Let´s create a new one.", offers_new_path, class: "btn btn-primary border-0", style: "background-color: #131c2d" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
