


  <div class=" align-center">
    <td class="align-middle">
      <%= image_tag 'Logo.png' ,class: "m-5 rounded mx-auto d-block" %>
      <h3 class="text-center">Find job wherever you want!</h3>
    </td>
  </div>

  <div class="order-md-1">
    <%= form_tag(offers_search_path,class: 'form-group', method: :get, autocomplete: "off") do %>
      <div class="row">
        <div class="col-md-12">
          <div class="align-left mb-3 input-group align-left">
            <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fa fa-search"
                                                                        aria-hidden="true"></i></span>
            <%= text_field_tag :search, params[:search], class: 'form-control', data: {autocomplete_source: pages_path} %>
          </div>
        </div>
      </div>

      <div class="form-row align-items-center">
        <div class="col-md-6 mb-3">
          <div class="input-group date" id="datetimepicker_start" data-target-input="nearest">
            <div class="input-group-prepend" id="date_icon_start" data-target="#datetimepicker_start" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
            <%= text_field_tag :date_start, params[:start], 'onkeydown' => 'return false', class: 'form-control datetimepicker-input', 'data-target' => '#datetimepicker_start', placeholder: 'From' %>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="input-group date" id="datetimepicker_end" data-target-input="nearest">
            <div class="input-group-prepend" id="date_icon_end" data-target="#datetimepicker_end" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
            <%= text_field_tag :date_end, params[:end], 'onkeydown' => 'return false', class: 'form-control datetimepicker-input', 'data-target' => '#datetimepicker_end', placeholder: 'To' %>
          </div>
        </div>
      </div>
      <%= submit_tag 'Search', class: 'form-control btn', name: nil %>
    <% end %>
  </div>


  <div class="form-row align-items-center">
    <h4> Right now <%= pluralize(@offers_count, "active offer") %>  in <%= pluralize(@states_count, "state") %>  and <%= pluralize(@cities_count, "city") %>.</h4>
  </div>
  <div class="form-row align-items-center">
    <h4> <%= @week_count.inspect %> offers added this week.</h4>
  </div>

  <div class="form-row align-items-center">
      <div class="align-center ml-4 input-group align-left">
        <div class="input-group-prepend">
          <h3 class="mr-5">Want to post a job?</h3>
        </div>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-outline-info", style: "border-color: #131c2d"%>
      </div>
  </div>



  <script type="text/javascript">
      $(function () {
          $('#date_start').click(function () {
              $('#date_icon_start').trigger('click');
          });
          $('#date_end').click(function () {
              $('#date_icon_end').trigger('click');
          });
          $('#datetimepicker_start').datetimepicker({
              format: "DD-MM-YYYY"
          });
          $('#datetimepicker_end').datetimepicker({
              format: "DD-MM-YYYY"
          });
      });
  </script>


