<% content_for(:sidebar) do %>
  <%= render "layouts/sidebar" %>
<% end %>


<%if logged_in? %>
  <div class="center jumbotron">

    <h1>Welcome <% @current_user.full_name %> </h1>+
    <%= button_to "New1", users_path, method: :get , class: "btn btn-lg btn-primary" %>
    <%= button_to "New2", "x", method: :get ,class: "btn btn-lg btn-primary"%>
    <%= button_to "New3", "x", method: :get ,class: "btn btn-lg btn-primary" %>
    <%= button_to "New4", "x", method: :get ,class: "btn btn-lg btn-primary" %>


  </div>
<%else %>
  <div class="center jumbotron">
    <h1>Welcome here!</h1>

    <h2>
      Loking for a quick job? You found the right place for it!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>

<% if false%>
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>