<li id="offer-<%= offer.id %>">
  <%= link_to gravatar_for(offer.user, size: 50), offer.user %>
  <span class="user"><%= link_to offer.user.name, offer.user %></span>
  <span class="content"><%= offer.content %></span>
  <span class="timestamp">
Created <%= time_ago_in_words(offer.created_at) %> ago.
</span>
</li>