<%= form_tag(offers_search_path,class: 'form-group', method: :get) do %>

    <div class="mt-3 form-row align-items-center">
      <div class="col-md-6 mb-3">
        <div class=" input-group ">
          <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fa fa-search" aria-hidden="true"></i></span>
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'State or city', data: {autocomplete_source: pages_sc_search_path} %>
         </div>
      </div>
      <div class="col-md-6 mb-3">
        <%= text_field_tag :category, params[:category], class: 'form-control', placeholder: "Category", data: {autocomplete_source: pages_cat_search_path} %>
      </div>
    </div>


  <div class="form-row align-items-center">
    <div class="col-md-6 mb-3">
      <div class="input-group date" id="datetimepicker_start" data-target-input="nearest">
        <div class="input-group-prepend" id="date_icon_start" data-target="#datetimepicker_start" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
        <%= text_field_tag :date_start, params[:start], 'onkeydown' => 'return false', class: 'form-control datetimepicker-input', 'data-target' => '#datetimepicker_start', placeholder: 'From' %>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="input-group date" id="datetimepicker_end" data-target-input="nearest">
        <div class="input-group-prepend" id="date_icon_end" data-target="#datetimepicker_end" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
        <%= text_field_tag :date_end, params[:end], 'onkeydown' => 'return false', class: 'form-control datetimepicker-input', 'data-target' => '#datetimepicker_end', placeholder: 'To' %>
      </div>
    </div>
  </div>




  <div class="mb-3 custom-control custom-checkbox">

    <%=check_box_tag 'sort',value = 1, checked = false, options= {class: 'custom-control-input'} %>

    <label class="custom-control-label" for="sort">Sort jobs by wage descending.</label>
    <%= @b.inspect %>
  </div>


  <div class="form-row align-items-center">
    <div class="col-md-6 mb-3">
      <%= submit_tag 'Search', class: 'btn btn-primary btn-lg btn-block', name: nil %>
    </div>
    <div class="col-md-6 mb-3">
      <%= link_to  "Home", root_path %>
    </div>
  </div>


<% end %>
<% if @offers.empty? %>
  <div class="alert alert-dark" role="alert">
    No results found.
  </div>
<% else %>
  <ul class="users">
    Found <%= @offers.count.inspect %> result/s.
    <br>
    <%= will_paginate @offers%>

    <% @offers.each do |offer| %>
      <div class="card" >
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <h5 class="card-title"><%= offer.label %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= offer.cat_name %> - <%= offer.s_name %> <%= offer.c_name %></h6>
              <%= offer.date.strftime("%d-%m-%Y") %>
              <h6><%= offer.wage %> €</h6>
              <p class="card-text"><%= offer.content.truncate(60) %></p>
            </div>
            <div class="col-sm-4">
              <div class="row">
              <%= link_to "Show details", offer, class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
              </div>
              <div class="row">
              <%= link_to "Show user", offer.user, class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
  <% end %>
  </ul>
<% end %>


<script type="text/javascript">
    $(function () {
        $('#date_start').click(function () {
            console.log("click start");
            $('#date_icon_start').trigger('click');
        });
        $('#date_end').click(function () {
            $('#date_icon_end').trigger('click');
        });

        $('#datetimepicker_start').datetimepicker({
            format: "DD-MM-YYYY"
        });
        $('#datetimepicker_end').datetimepicker({
            format: "DD-MM-YYYY"
        });
    });
</script>