<% provide(:title, @offer.label) %>
<div class="card" >
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="card-title"><%= @offer.label %></h3>
        <br>
        <h5>Category:</h5>
        <h6 class="mb-2"> <%= @offer.cat_name %></h6>
        <br>
        <h5>Where:</h5>
        <h6 class="card-subtitle mb-2"><%= @offer.s_name %></h6>
        <h6 class="card-subtitle mb-2"><%= @offer.p_name %> <%= @offer.c_name %></h6>
        <hr>
        <h5>When:</h5>
        <h6 class="card-subtitle mb-2"><%= @offer.date.strftime("on %A %d of %B %Y") %></h6>
        <hr>

        <h5>Description:</h5>
        <p class="card-text"><%= @offer.content%></p>
        <h5>Aplies:</h5>
        <p class="card-text"><%= @offer.count %></p>
        <h5>Wage:</h5>
        <p class="card-text"><%= @offer.wage %></p>
      </div>
      <div class="col-sm-4">
        <% if logged_in? && current_user?(@offer.user) %>
          <div class="btn-group">
            <%= link_to "Edit offer", offers_edit_path(@offer), class: "btn btn-primary border-0 m-2 disabled", style: "background-color: #131c2d" %>
            <%= link_to "delete",@offer, method: :delete, class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d",
                        data: { confirm: "You sure?" } %>
            <% if @offer.active == false %>
              <%= link_to "Enable",offers_disable_path(offer: @offer, page: "crt"), class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
            <% else %>
              <%= link_to "Disable",offers_disable_path(offer: @offer, page: "crt"), class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
            <% end %>
          </div>
          <h3>Applies for this offer:</h3>
          <% if @applies.present? %>
            <ul>
              <hr>
              <% @applies.each do |apply| %>
                <li> <%=apply.name %> - <%=apply.contact %> </li>
              <% end %>
            </ul>
          <% else %>
            <div class="alert alert-dark" role="alert">
              No applies yet.
            </div>
          <% end %>

        <% else %>
          <div class="row">
            <%= link_to "Show user", @offer.user, class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
          </div>
          <div class="row">

            <%= form_tag(accepted_offers_path,class: 'form-group', method: :post) do %>
              <%= label_tag :name %>
              <%= text_field_tag :name, params[:name], class: 'form-control'%>
              <%= label_tag :contact %>
              <%= text_field_tag :contact, params[:contact], class: 'form-control', placeholder: 'Contact email' %>
              <%= hidden_field_tag(:offer_id, @offer.id) %>
              <%= submit_tag 'Apply for this offer', class: "form- control btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>