<% provide(:title, 'User offers') %>
<% if @offers.empty? %>
  <div class="alert alert-dark" role="alert">
    <h3>You have no offers yet.</h3>
    <div class="col p-2 button-group">
      <%= link_to "Let´s create a new one.", offers_new_path, class: "btn btn-primary border-0", style: "background-color: #131c2d" %>
    </div>
  </div>
<% else %>
  <ul class="users">
    Found <%= @offers.count.inspect %> result/s.
    <br>
    <%= will_paginate  %>

    <% @offers.each do |offer| %>
      <div class="card" >
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <h5 class="card-title"><%= offer.label %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= offer.cat_name %> - <%= offer.s_name %> <%= offer.c_name %></h6>
              <p class="card-text"><%= offer.content.truncate(60) %></p>
            </div>
            <div class="col-sm-4">
              <div class="btn-group">
                <%= link_to "Show details", offer, class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
                <% if offer.active == false %>
                  <%= link_to "Enable",offers_disable_path(offer: offer, page: "list"), class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
                <% else %>
                  <%= link_to "Disable",offers_disable_path(offer: offer, page: "list"), class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d" %>
                <% end %>
                <%= link_to "delete",offer, method: :delete, class: "btn btn-primary border-0 m-2", style: "background-color: #131c2d",
                            data: { confirm: "You sure?" } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
    <% end %>
  </ul>
<% end %>